.colorproject {
  background-color: #e8e8e8;
  color: #171717;
  transition: color 500ms;
  transition: background-color 500ms;
}

.dark .colorproject {
  background-color: #171717;
  color: #e8e8e8;
  transition: color 500ms;
  transition: background-color 500ms;
}
